#title{
  color: #fff;
  background-color: #ff4c68;
}
h1{
  font-family: "Montserrat-black";
  font-size: 3rem;
  line-height: 1.5;
}
h3{

font-family: 'Montserrat-bold';
font-size: 1.5rem;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15% 7%;
}
body{
  font-family: "Montserrat-Black";
}

.navbar{
  padding-bottom: 0 0 4.5rem;



  }
}
/*Navigation bar*/
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: Montserrat-light;
}
/*button*/
.Download-button{
  margin: 5% 3% 5% 0;
}
/*image*/
.image-1{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  top: 150px;
}
/*features*/
#features{
  padding: 7% 15%;
  background-color: #ffff;
  position: relative;
  z-index: 1;
}
.F1{
text-align: center;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:#ff4c68;
}

/*testimonials*/
#testimonials{

  text-align: center;
  color: #ffff;
  background-color: #ef8172;
}
.Testimonials-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;

}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-image1{
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 17%;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 80px;
}
/*pricing*/
#pricing{
  text-align: center;
  padding: 100px;
}
.pricing-column{
  padding: 2% 3%;
}
@media (max-width:1020px) {
  #title{
    text-align: center;
  }
  .image-1{
    position: static;
  transform: rotate(0);
  }
}
/*call tp action*/
#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #ffff;
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 50px;
}


#footer{
  text-align: center;
  background-color: #ffff;
}
